{% extends 'base.html' %}
{% load static %}
{% block content %}
    
  <div class="container">
      <div class='box'>
        <h1 id='about-me-head'>About Me</h1>
        <div class='row row-one'>
            <div class="col-lg-4 profile-pic-col">
                <img id="profile-pic"src="{% static '/images/mainpic.jpeg' %}" alt="no img">
            </div>
            <div class='col-lg-8 about-me-detail-col'>
                <div class="wrapper">
                    <div class='flexi'data-text></div>
                    <span class="item">Software Developer</span>
                    <span class="item">Competitive Programmer</span>
                    <span class="item">Frontend developer</span>

                  </div>
                <p class='' id='about-me-detail'>
                    I'm an Undergraduate Freshman Year Student currently pursuing a Bachelors degree in Electronics and Communication Engineering at UIET Panjab Univeristy, Chandigarh.
                    My interests are primarily in Web Development, Competitive Programming, Electronics and Embedded System Design.
                </p>
                <p>
                    <strong>Email:</strong> vishav.bangotra@gmail.com
                    <br>
                    <strong>Phone:</strong> (+91) 8082201833
                </p>
            </div>
        </div>
    </div>
    <div class="row row-two justify-content-around">
        <div class="col-md-5 box linkedin-box" >
            <a style="color:#212529;" href="https://www.github.com">
            <h2 id='linkedin-head'>LinkedIn</h2>
            <div class='row'>
                <div class='col-sm-4 linkedin-logo-box'>
                    <img id='linkedin-logo' src="{% static 'images/linkedin.png' %}" alt="">
                </div>
                <div style="padding-right: 6%" class='col-sm-8'>
                    <h4>Connect with me!</h4>
                    <p>Join my Professional Network and take a look at my Skills and Achievements.</p>
                </div>
            </div>
        </a>
        </div>
        <div class="col-md-5 box github-box">
            <a style="color:#212529;" href="https://www.github.com">
            <h2 id='github-head'>Github</h2>
            <div class='row'>
                <div class='col-sm-4 github-logo-box'>
                    <img id='github-logo' src="{% static '/css/github-logo.svg' %}" alt="">
                </div>
                <div style="padding-right: 6%"class='col-sm-8'>
                    <h4>Have a look!</h4>
                    <p>Have a look at my Open-Source Projects. Feel welcome to contribute in my Projects and help boost Open-Source Community.</p>
                    <br>
                </div>
            </div>
        </a>
        </div>
    </div>
    <div style="color:#212529;" class="resume-box box">
        <h2 id="resume-head">Resumé</h2>
        <a href="{% static 'VishavBangotra_InternshalaResume.pdf' %}"></a>
            <div class="row row-3">
                <div class="col-md-4 cv-logo-col">
                    <img id='cv-logo'src="{% static '/images/curriculum.png' %}" alt="fghj">
                </div>
                <div class="col-md-8 resume-detail">
                    <h4 id='cv-head'>Have a look at my resumé my Resumé!</h4>
                    <p>Checkout my qualification and experience. Click here!</p>
                </div>
            </div>
        </a>
    </div>

    <div></div>




  </div>

{% endblock %}
